﻿
<div class="p-4" style="border-radius:20px;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">National Park List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-primary text-white"><i class="fas fa-plus"></i> &nbsp; Create New National Park</a>
        </div>
    </div>
    <br />
    <br />
    <div style="background-color:#cde8e2" class="p-3 rounded">
        <table id="tblData" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr class="table-danger">
                    <th>Name</th>
                    <th>State</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@*@foreach(var p in @Model)
{
 <div class="card mb-3"> 
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Posted @p.Id</h6>
        <h6 class="card-subtitle mb-2 text-muted">Posted @p.State</h6>
        <h6 class="card-subtitle mb-2 text-muted">Posted @p.Name</h6>
        
    </div>
 </div>

}*@

@section Scripts{ 
<script src="~/js/nationalPark.js"></script>
}
