﻿@model WebAPI.Models.User

<h1>Register</h1>
<form method="post">
    <input asp-for="Username" type="text" placeholder="Username..." />
    <input asp-for="Password" type="text" placeholder="Password..." />
    <button type="submit" value="Submit">Register</button>
</form>
